<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type", content="text/html">
    <title>Greeting Page</title>
</head>
<body>
    <div>Hello, {{name}}</div>
</body>
</html>